@font-face {
  font-family: "Icomoon";
  src: url("../fonts/icomoon.woff");
}
html {
  height: 100%;
  width: 100%;
}

body {
  font-size: 24pt;
  margin: 0;
  padding: 0;
  /** Make vertical scrollbar always visible so when scrollbar appears, won't shift everything left */
  overflow-y: scroll;
  display: table;
  height: 100%;
  width: 100%;
}

h1 {
  font-family: Calibri;
  color: #000000;
  word-spacing: 8px;
  letter-spacing: 5px;
  text-align: center;
  /** z-index only works on positioned elements **/
  z-index: 2;
  text-transform: uppercase;
}

p {
  text-align: center;
  font-family: Calibri;
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #000000;
}

#main {
  height: 100%;
  display: table-row;
  position: relative;
  text-align: center;
}

/**
Have two divs side by side, each taking up half of parent container
Dividing a container into two vertical halves

@mixin main-options($side) {
  position: relative;
  height: 100%;
  width: 50%;
  float: $side;
}

#exploreDiv {
  @include main-options(left);
}

#searchDiv {
  @include main-options(right);
}
**/
#options {
  line-height: 200%;
  margin: 5% 0 4% 0;
  background-color: #f5f5f5;
  width: 100%;
  padding: 5% 0;
  font-family: Arial;
  font-size: 1em;
  letter-spacing: 1px;
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 8vw;
  }

  #options {
    font-size: 3.5vw;
    margin-top: 8%;
  }

  footer {
    font-size: 4vw;
  }
}
@media screen and (max-width: 750px) {
  #options {
    margin-top: 10%;
    padding: 10% 0;
  }

  footer {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 650px) {
  #options {
    margin-top: 15%;
    padding: 15% 0;
  }
}
@media screen and (max-width: 550px) {
  #options {
    margin-top: 20%;
    padding: 20% 0;
  }
}
@media screen and (max-width: 480px) {
  #options {
    margin-top: 25%;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 1em;
  }

  #options {
    margin-top: 35%;
    font-size: 0.4em;
    padding: 25% 0;
  }
}
#explore_option:hover::before, #search_option:hover::before {
  font-family: "Icomoon";
  font-size: 0.8em;
  content: "a ";
}

#options_container {
  display: none;
  height: 100%;
  width: 100%;
}

#header {
  display: none;
  margin-top: 20px;
}
#header a {
  font-size: 25px;
  font-family: Arial;
  margin-right: 1.5em;
  color: #999999;
  letter-spacing: 1px;
}
#header a.currTab {
  color: #595959;
  border-bottom: 2px;
  border-bottom-style: solid;
  padding-bottom: 2px;
}
#header a:hover {
  color: #595959;
  border-bottom: 2px;
  border-bottom-style: solid;
  padding-bottom: 2px;
}
#header #name_page {
  margin-left: 30px;
}

/** When a CSS property shows as struck-through, 
it means that the crossed-out style was applied, 
but then overridden by a more specific selector, 
a more local rule, or by a later property within 
the same rule. The styling below is not as
specific as the one above so it will be
overridden.

.currTab {
  color: $black;
}**/
#explore, #search {
  display: block;
  height: 90%;
  width: 100%;
  margin-top: 20px;
}

#explore_panel, #search_panel {
  float: left;
  height: 100%;
  width: 23%;
}
#explore_panel p, #search_panel p {
  font-size: 14px;
  font-family: Arial;
  text-align: left;
  margin-left: 10%;
}

#explore_input, #search_input_near, #search_input_query {
  padding: 2.5%;
  font-size: 45%;
  width: 55%;
  min-width: 120px;
  margin-left: 10%;
}

#search_input_query {
  margin-top: 1em;
}

.query_button {
  width: 25%;
  min-width: 70px;
  font-size: 45%;
  padding: 2.5%;
}

#explore_near_warning, #search_near_warning,
#query_warning, #search_req_warning, #explore_req_warning {
  display: none;
  font-size: 14px;
  color: #993333;
}

#scrollPanel {
  margin-top: 20px;
}

#results_table {
  margin-left: 10%;
  font-size: 45%;
  font-family: Arial;
  color: #666666;
}

.restaurant_name {
  font-size: 105%;
}

.directions_link {
  color: #666666;
}

.emptyRow {
  height: 5px;
}

#textbox {
  padding: 5pt;
  width: 85%;
  margin: 5pt 0;
  font-family: Arial;
  font-size: 100%;
}

#explore_map, #search_map {
  width: 74%;
  float: left;
  margin: 1% 0.5% 1% 1%;
}

#explore_dir_panel, #search_dir_panel {
  float: left;
  width: 0;
  margin: 1% 1% 0 0;
  font-size: 10pt;
  overflow: auto;
}
#explore_dir_panel div.adp, #search_dir_panel div.adp {
  padding: 0pt 10pt 10pt 10pt;
  font-family: Arial;
  font-size: 110%;
}
#explore_dir_panel div.adp .adp-placemark, #search_dir_panel div.adp .adp-placemark {
  margin-top: 2px;
}

footer p {
  text-align: center;
  font-size: 0.6em;
  line-height: 200%;
}
footer p span {
  font-family: "Icomoon";
  font-size: 1em;
  letter-spacing: 0.2em;
}

/*# sourceMappingURL=style.css.map */
